#todo{
    width: fit-content;
}

#btn{
    width: 100%;
    margin-bottom: 15px;
}

.todoCards{
    display: flex;
    gap: 10px;
}

.todoCard{
    position: relative;
    width: fit-content;
}

.task{
    resize: none;
}

.delBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.delBtn:hover{
    color: rgb(179, 25, 25);
}